ul {
    display: block;
    /* background-color: aquamarine; */
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}
ul li {
    padding: 15px;
    list-style-type: none;
    
}
nav {
    padding: 0px;
    background-color: rgb(243, 178, 178);
    font-size: 20px;
    width: 50%;
}

ul>li>a:hover{
    background-color: #f5f5f5;
}

a {
    display: block;
    text-transform: capitalize;
    text-decoration: none;
}
.tech {
    margin-top: 30px;
}

/* 
li>a {
    font-size: 20px;
} */

.pic {
    border-radius: 50%;   
}

span {
    float: left;
    margin-bottom: 50px;
    background-color: #7B2F6F;
    font-size: 2px;
    margin-top: 41px;
}

.gas {
    margin-top: 50px;
    /* width: 1500px; */
}

#career {
    margin-top: 370px;
    color: #CF48A6;
    text-align: left;
    
}
.awesome {
    font-size: 3em;
    margin-bottom: 1px;
    margin-top: 2px;
}

h1 {
    color: #B248A8;
    text-decoration-style: dotted;
}
em {
    color: #62C43B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}